<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Blog Site</title>
    <style>
      html,
      body {
        padding: 10px;
        clear: both;
        float: left;
      }
      #singleBlogPost {
        padding: 10px;
        margin-bottom: 50px;
        border: 2px solid blue;
      }

      #blogPostCreation {
        border: 2px solid black;
      }

      #blogPostCreation > * {
        margin: 10px;
      }
    </style>
  </head>
  <body>
    <div id="app">
      <h1>Welcome to my Blog Site</h1>
      <div id="blogPosts">
        <blog-post
          v-for="post in posts"
          v-bind:blogpost="post"
          :key="post.title"
        ></blog-post>
      </div>

      <div id="blogPostCreation">
        <h2>Make a new blog post</h2>
        <input v-model="title" /><br />
        <input v-model="username" /><br />
        <input v-model="date" /><br />
        <input v-model="content" /><br />
        <button v-on:click="publishPost">Publish Post</button>
      </div>
    </div>
    <script type="module">
      import { createApp } from "https://unpkg.com/vue@3/dist/vue.esm-browser.js";
      createApp({
        data() {
          return {
            title: "",
            username: "Rita",
            date: new Date().toDateString().split(" ").slice(1).join(" "),
            content: "",
            posts: [
              {
                title: "First blog",
                username: "Rita",
                date: "Jan 1 2024",
                content: "Here is the content of my very first blog post.",
              },
              {
                title: "Second blog",
                username: "Rita",
                date: "Jan 2 2024",
                content: "Here is the content of my second blog post.",
              },
            ],
          };
        },
        methods: {
          publishPost() {
            const postData = {
              title: this.title,
              username: this.username,
              date: this.date,
              content: this.content,
            };
            this.posts.push(postData);
          },
        },
        components: {
          "blog-post": {
            props: {
              blogpost: Object,
            },
            template: `<div id="singleBlogPost">
                <h2>{{ blogpost.title }}</h2>
                <h3>{{ blogpost.username }}</h3>
                <h4>{{ blogpost.date }}</h4>
                <p>{{ blogpost.content }}</p>
                </div>`,
          },
        },
      }).mount("#app");
    </script>
  </body>
</html>
